html
  head
    link(rel="stylesheet", href="/stylesheets/styles.css")
    title LTTP Controller
  body
    input#name()
    #controller

    script(src="/vendor/bundle.js")
    script(src="/vendor/phaser.js")
    script(src="/dist/lttp-controller.js")
