html
  head
    link(rel="stylesheet", href="/stylesheets/styles.css")
    title Hey welcome to LTTP
  body
    #game

    script(src="/vendor/bundle.js")
    script(src="/vendor/phaser.js")
    script(src="/dist/lttp.js")
